{
  "presets": ["es2015"],
  "plugins": ["angularjs-annotate"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
