# Editor Config
# Version: 0.1.0
# 
# This file is not updated automatically.
# To get the latest version, delete it and run 'npm install'.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
