// ----- Color -----------------------------------------------------------------

// Grays
$white: #FAFAFA;
$heather: #BBC4CD;
$light-gray: #ABABAB;
$dark-gray: #A9A9A9;
$dove-gray: #707070;
$jaguar: #2A2A2A;

// Yellows
$putty: #EECD90;
$bronze: #665500;
$cola: #332A00;

// Reds
$faded-red: #FF7F7F;
$rosewood: #5B0000;
$sepia-black: #280000;
